<div class="container-fluid px-0 mt-5" id="footer-container">
        <footer class="d-flex flex-column justify-content-between">
            <div class="container">
                <div class="row p-4">
                    <div class="col-12 col-md-6 col-lg-4">
                        <span id="business" class="d-block font-weight-bold">WANNET GLOBAL Inc.</span>
                        <span class="d-block">333 Centennial Ave., Hamilton, L8L 2X6</span>
                        <span class="d-block">(905) 517-9314</span>
                        <span class="d-block">wannetglobal@yahoo.com</span>
                    </div>
                    <div class="col-12 d-md-flex flex-column col-md-6  col-lg-4 offset-lg-4 mt-4 mt-md-0 footer-col">
                        <span class="d-block font-weight-bold">Keith K. Wilson, Developer</span>
                        <span class="d-block">Principal Software Engineer</span>
                        <span class="d-block">Small Business Information Systems</span>
                        <span class="d-block">(905) 515-7660</span>
                        <span class="d-block">kkwilson27@hotmail.com</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>