<ng-container>
    <div class="row text-center">
        <div class="col-12 px-5 py-4">
            <img class="img-fluid" src="assets/img/{{getMenuImage(0)}}">
        </div>
    </div>
    <div class="row justify-content-around  align-items-center py-3" *ngFor="let item of currentMenu">
        <div class="col-9 col-md-4 col-lg-3 text-center text-md-left">
            <span>{{item.name}}</span>
        </div>
        <div class="col-3 col-md-1 text-center">
            <span>{{item.price | currency:'USD':'symbol-narrow'}}</span>
        </div>
        <div class="col-3 col-md-1 text-center">
            <select name="quantity" [(ngModel)]="item.quantity">
                <option *ngFor="let quantity of quantities" [value]="quantity.value">
                    {{quantity.value}}
                </option>
            </select>
        </div>
        <div class="col-9 col-md-3 mt-2 mt-md-0 text-center">
            <button class="btn btn-primary" type="button" (click)="addToOrder(item)">
                ADD TO ORDER
            </button>
        </div>
        <div class="col-12">
            <hr class="my-1">
        </div>
    </div>

    <ng-container class="hidden">
        <a #openMessage id="open-message" data-toggle="modal" data-target="#sideModal">CLICK</a>
    </ng-container>

    <div #debugSidemodal class="modal fade" id="sideModal" tabindex="-1" role="dialog" aria-labelledby="sideModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">Choose Side</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 px-5 py-4">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let side of sides">
                                    <a class="side" (click)="addSide(side)" data-dismiss="modal">{{side}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block font-weight-bold" data-dismiss="modal">
                        OK
                    </button>
                </div> -->
            </div>
        </div>
    </div>



</ng-container>