<ng-container>
    <div class="row text-center">
        <div class="col-12 px-5 py-4">
            <img class="img-fluid" src="assets/img/{{getMenuImage(0)}}">
        </div>
    </div>
    <div class="row justify-content-around  align-items-center py-3" *ngFor="let item of currentMenu">
        <div class="col-9 col-md-4 col-lg-3 text-center text-md-left">
            <span>{{item.name}}</span>
            <!-- <ng-container *ngIf="item.side || item.drink">
                <a class="d-block side-and-drink" data-toggle="modal" data-target="#sideModal">
                    (Click to add side or drink)
                </a>
            </ng-container> -->
        </div>
        <div class="col-3 col-md-1 text-center">
            <span>{{item.price | currency:'USD':'symbol-narrow'}}</span>
        </div>
        <div class="col-3 col-md-1 text-center">
            <select name="quantity" [(ngModel)]="item.quantity">
                <option *ngFor="let quantity of quantities" [value]="quantity.value">
                    {{quantity.value}}
                </option>
            </select>
        </div>
        <div class="col-9 col-md-3 mt-2 mt-md-0 text-center">
            <button class="btn btn-primary" type="button" (click)="addToOrder(item)">
                ADD TO ORDER
            </button>
        </div>
        <div class="col-12">
            <hr class="my-1">
        </div>
    </div>

    <ng-container>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-center" id="modal-basic-title">SELECT YOUR SIDE</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body sides">
                <div class="row">
                    <div class="col-12 px-5 py-4">
                        <ul class="list-group" *ngFor="let side of sides">
                            <a class="side" (click)="addSide(side)" (click)="modal.close('')">
                                <li class="list-group-item">
                                    {{side}}
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-container class="hidden">
            <a #openSidesModal id="openSidesModal" class="" (click)="open(content)">
            </a>
        </ng-container>

    </ng-container>


    <ng-container>
        <ng-template #drinkContent let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-center" id="modal-basic-title">SELECT YOUR DRINK</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body drinks">
                <div class="row">
                    <div class="col-12 px-5 py-4">
                        <ul class="list-group" *ngFor="let drink of drinks">
                            <a class="drink" (click)="addDrink(drink)" (click)="modal.close('')">
                                <li class="list-group-item">
                                    {{drink}}
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>

    <ng-container class="hidden">
        <a #openDrinksModal id="openDrinksModal" class="" (click)="open(drinkContent)">
        </a>
    </ng-container>