$primary: #cbba83;
$secondary: #ffecb3;
$tertiary: #ffffe5;
$dark-brown: #6a5636;
$red: #a30000; 

button {
    background: $dark-brown;
    color: $tertiary;
    font-weight: bold;
    border-color: $primary !important;   

    &:hover {
        background: $primary;
    }
}

.scroll-style
{
    max-height: 150px;
    overflow-y: scroll;
}

.modal-body {
    font-size: 1.2rem;

    a {
        li {
            &:hover {
                background: $secondary;
            }
        }
        
    }    
}

.modal-title {
    font-weight: bold;
    color: $dark-brown;
}

.side-and-drink {
    color: $red;
}

.sides {
    background: $tertiary;
}

.drinks {
    background: $primary;
}