<div _ngcontent-vre-c7="" aria-labelledby="sideModalTitle" class="modal fade show" 
    id="sideModal" role="dialog" tabindex="-1"
    style="display: block;" aria-modal="true">
    <div _ngcontent-vre-c7="" class="modal-dialog modal-dialog-centered" role="document">
        <div _ngcontent-vre-c7="" class="modal-content">
        </div>
    </div>
</div>


<div _ngcontent-vre-c7="" aria-hidden="true" aria-labelledby="sideModalTitle" class="modal fade" 
    id="sideModal" role="dialog" tabindex="-1">
    <div _ngcontent-vre-c7="" class="modal-dialog modal-dialog-centered" role="document">
        <div _ngcontent-vre-c7="" class="modal-content">
        </div>
    </div>
</div>