<app-header></app-header>
<app-message></app-message>
<app-banner></app-banner>
<app-breadcrumb></app-breadcrumb>

<div class="container  view-height mt-4" id="order-picker">
    <div class="row text-center mb-4">
        <div class="col"><span class="heading">Order<br></span></div>
    </div>
    <section id="address">
        <div class="row mb-4 text-center justify-content-lg-around">
            <div class="col-12 col-lg-4 text-left">
                <div class="row">
                    <div class="col-12">
                        <h4 class="customer-info">Buyer's Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Name:</span>
                        <span>{{order.buyer.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Phone:</span>
                        <span>{{order.buyer.phone | mask: '(000) 000-0000'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Address:</span>
                        <span>{{order.buyer.address}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            City:
                        </span>
                        <span>{{order.buyer.city}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            Country:
                        </span>
                        <span>{{order.buyer.country}}</span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <span class="mr-3 font-weight-bold"><strong>Order Date</strong>:</span>
                        <span>{{order.created_on | date:'shortDate' }}<br></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-md-3 mt-lg-0 text-left">
                <div class="row">
                    <div class="col-12">
                        <h4 class="customer-info">Receiver's Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Name:</span>
                        <span>{{order.receiver.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Phone:</span>
                        <span>{{order.receiver.phone | mask: '(000) 000-0000'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Address:</span>
                        <span>{{order.receiver.address}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            City:
                        </span>
                        <span>{{order.receiver.city}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            Country:
                        </span>
                        <span>{{order.receiver.country}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold"><strong>Delivery Date</strong>:</span>
                        <span>{{order.delivery_date | date:'shortDate'}}<br></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold"><strong>Zim Delivery Date</strong>:</span>
                        <span>{{order.zim_delivery_date | date:'shortDate'}}<br></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="address">
        <div class="row mb-4 text-center">
            <div class="col offset-lg-5 text-left">
                <div class="row" *ngIf="order.status != 'Delivered'">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Pending:</span>
                        <input type="radio" class="mr-1" name="status" [(ngModel)]="order.status" value="Pending" (change)="setOrderStatus()">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Delivered:</span>
                        <input type="radio" class="mr-1" name="status" [(ngModel)]="order.status" value="Delivered" (change)="setOrderStatus()">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="address">
        <div class="row mb-4 text-center">
            <div class="col offset-lg-5 text-left">
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Name:</span>
                        <span>{{order.receiver.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Phone:</span>
                        <span>{{order.receiver.phone | mask: '(000) 000-0000'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Address:</span>
                        <span>{{order.receiver.address}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            City:
                        </span>
                        <span>{{order.receiver.city}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">
                            Country:
                        </span>
                        <span>{{order.receiver.country}}</span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <span class="mr-3 font-weight-bold"><strong>Order Time</strong>:</span>
                        <span>{{order.created_time | date:'shortTime' }}<br></span>
                    </div>
                </div>
                <div class="row" *ngIf="order.status != 'Delivered'">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Pending:</span>
                        <input type="radio" class="mr-1" name="status" [(ngModel)]="order.status" value="Pending" (change)="setOrderStatus()">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mr-3 font-weight-bold">Delivered:</span>
                        <input type="radio" class="mr-1" name="status" [(ngModel)]="order.status" value="Delivered" (change)="setOrderStatus()">
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <section id="items" class="">
        <div class="row d-none d-md-flex mb-2">
            <div class="col-md-4 col-lg-3 offset-lg-2">
                <span class="font-weight-bold col-title">Item</span>
            </div>
            <div class="col-3 col-lg-2 text-center">
                <span class="font-weight-bold col-title">Quantity</span>
            </div>
            <div class="col-3 col-lg-2 text-right">
                <span class="font-weight-bold col-title">Price</span>
            </div>
        </div>
        <div class="row mb-lg-3 mb-4" *ngFor="let item of order.menuItems">
            <div class="col-12 col-md-4 col-lg-3 offset-lg-2">
                <span>{{item.name}}<br></span>
            </div>
            <div class="col-3 col-lg-2 text-center">
                <span>{{item.quantity}}<br></span>
            </div>
            <div class="col-3 text-right col-lg-2"><span>{{item.price * item.quantity | currency:'USD':'symbol-narrow'}}<br></span></div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </section>
    <section id="address">
        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <div class="col-4 col-md-2 col-lg-1 offset-md-6">
                        <span>Subtotal:</span>
                    </div>
                    <div class="col-4 col-md-2 text-right">
                        <span class="font-weight-bold">{{getSubtotal() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-2 col-lg-1 offset-md-6">
                        <span>Delivery:</span>
                    </div>
                    <div class="col-4 col-md-2 text-right">
                        <span class="font-weight-bold">{{getDeliveryCharge() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                    <div class="col-4 col-md-2 col-lg-1 offset-md-6">
                        <span>Total:</span>
                    </div>
                    <div class="col-4 col-md-2 text-right">
                        <span class="font-weight-bold">{{getTotal() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>