<app-header></app-header>
<app-message></app-message>
<app-banner></app-banner>
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="container view-height p-md-4 mt-4" id="order-list">
    <section id="pending-orders" class="offset-sm-1">
        <div class="row text-center mb-4">
            <div class="col"><span class="heading">Pending Orders<br></span></div>
        </div>
        <div class="row d-none d-lg-flex mb-2">
            <div class="col-12 col-md-3">
                <span class="font-weight-bold col-title">Name</span>
            </div>
            <div class="col-12 col-lg-3">
                <span class="font-weight-bold col-title">Phone</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Order Time</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">City</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Country</span>
            </div>

        </div>
        <div class="row mb-lg-2 mb-4" *ngFor="let order of pendingOrders" [ngClass]="{'prepared-order' : order.status == 'Prepared'}">
            <div class="col-12 col-sm-4 col-md-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.name}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4  col-lg-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.phone | mask: '(000) 000-0000'}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 text-left col-lg-2">
                <span class="">{{order.created_time | date:'shortTime' }}<br></span>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.city}}<br>
                </span>
            </div>

            <div class="col-6  col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.country}}<br>
                </span>
            </div>
        </div>
    </section>

    <section id="pending-orders" class="offset-sm-1">
        <div class="row text-center mb-4">
            <div class="col"><span class="heading">Fulfilled Orders<br></span></div>
        </div>
        <div class="row d-none d-lg-flex mb-2">
            <div class="col-12 col-md-3">
                <span class="font-weight-bold col-title">Name</span>
            </div>
            <div class="col-12 col-lg-3">
                <span class="font-weight-bold col-title">Phone</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Order Time</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">City</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Country</span>
            </div>

        </div>
        <div class="row mb-lg-2 mb-4  completed-orders" *ngFor="let order of completedOrders" [ngClass]="{'prepared-order' : order.status == 'Prepared'}">
            <div class="col-12 col-sm-4 col-md-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.name}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4  col-lg-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.phone | mask: '(000) 000-0000'}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 text-left col-lg-2">
                <span class="">{{order.created_time | date:'shortTime' }}<br></span>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.city}}<br>
                </span>
            </div>

            <div class="col-6  col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.country}}<br>
                </span>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>