<app-header></app-header>
<app-message></app-message>
<app-banner></app-banner>
<app-breadcrumb></app-breadcrumb>

<div class="container view-height p-md-4 mt-4" id="order-list">
    <section id="pending-orders" class="offset-sm-1">
        <div class="row text-center mb-4">
            <div class="col"><span class="heading">Pending Orders<br></span></div>
        </div>
        <div class="row d-none d-lg-flex mb-2">
            <div class="col-2">
                <span class="font-weight-bold col-title">Order No.</span>
            </div>
            <div class="col-12 col-md-3">
                <span class="font-weight-bold col-title">Name</span>
            </div>
            <div class="col-12 col-lg-3">
                <span class="font-weight-bold col-title">Phone</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">City</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Country</span>
            </div>

        </div>
        <div class="row mb-lg-2 mb-4" *ngFor="let order of pendingOrders" [ngClass]="{'prepared-order' : order.status == 'Prepared'}">
            <div class="col-6 col-sm-4 col-md-2">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.order_no}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.name}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4  col-lg-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.phone | mask: '(000) 000-0000'}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.city}}<br>
                </span>
            </div>

            <div class="col-6  col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.country}}<br>
                </span>
            </div>
        </div>
    </section>

    <section id="completed-orders" class="offset-sm-1">
        <div class="row text-center mb-4">
            <div class="col"><span class="heading">Fulfilled Orders<br></span></div>
        </div>
        <div class="row d-none d-lg-flex mb-2">
            <div class="col-2">
                <span class="font-weight-bold col-title">Order No.</span>
            </div>
            <div class="col-12 col-md-3">
                <span class="font-weight-bold col-title">Name</span>
            </div>
            <div class="col-12 col-lg-3">
                <span class="font-weight-bold col-title">Phone</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">City</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Country</span>
            </div>

        </div>
        <div class="row mb-lg-2 mb-4  completed-orders" *ngFor="let order of completedOrders" [ngClass]="{'prepared-order' : order.status == 'Prepared'}">
            <div class="col-6 col-sm-4 col-md-2">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.order_no}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.name}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4  col-lg-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.phone | mask: '(000) 000-0000'}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.city}}<br>
                </span>
            </div>

            <div class="col-6  col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.country}}<br>
                </span>
            </div>
        </div>
    </section>

    <section id="pending-orders" class="offset-sm-1 mt-5">
        <div class="row text-center mb-4">
            <div class="col"><span class="heading">Order Search<br></span></div>
        </div>
        <form class="mb-3">
            <div class="form-row px-4 mb-2 mb-md-0">
                <div class="col-12 col-md-4 col-lg-2 offset-lg-1 form-label">
                    <label class="col-form-label">Order No.:</label>
                </div>
                <div class="col-12 col-md-4 col-lg-2 mb-2">
                    <input class="form-control" type="text" name="order_no" [(ngModel)]="searchCriteria.order_no">
                </div>
            </div>
            <div class="form-row px-4 mb-2 mb-md-0">
                <div class="col-12 col-md-4 col-lg-2 offset-lg-1 form-label">
                    <label class="col-form-label">Phone:</label>
                </div>
                <div class="col-12 col-md-4 col-lg-2 mb-2">
                    <input class="form-control" type="text" name="phone" [(ngModel)]="searchCriteria.phone" mask="(000) 000-0000" maxlength="14">
                </div>
            </div>

            <div class="form-row text-left px-4">
                <div class="col-12 text-left offset-md-4 offset-lg-3 col-md-8">
                    <div class="text-left" id="search">
                        <button class="btn btn-primary" type="button" (click)="searchOrder()">
                            <i class="fa fa-search mr-1"></i>SEARCH</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row d-none d-lg-flex mb-2" *ngIf="searchedOrders">
            <div class="col-2">
                <span class="font-weight-bold col-title">Order No.</span>
            </div>
            <div class="col-12 col-md-3">
                <span class="font-weight-bold col-title">Name</span>
            </div>
            <div class="col-12 col-lg-3">
                <span class="font-weight-bold col-title">Phone</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">City</span>
            </div>
            <div class="col-2">
                <span class="font-weight-bold col-title">Country</span>
            </div>

        </div>
        <div class="row mb-lg-2 mb-4" *ngFor="let order of searchedOrders">
            <div class="col-6 col-sm-4 col-md-2">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.order_no}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.name}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4  col-lg-3">
                <a [routerLink]="['/order-picker', order._id]">
                    {{order.delivery.phone | mask: '(000) 000-0000'}}<br>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.city}}<br>
                </span>
            </div>

            <div class="col-6  col-sm-4 col-lg-2">
                <span class="text-center">
                    {{order.delivery.country}}<br>
                </span>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>