$primary: #cbba83;
$secondary: #ffecb3;
$tertiary: #ffffe5;
$deep-brown: #6a5636;

#main {
    font-size: 1rem;

    #categories {
        background: $tertiary;     
        
        .card {
            position: relative;
            
            div {
                position:absolute;
                bottom: 12rem;
                    h2 {
                    font-weight: bold;
                    color: $secondary;
                }
            }
        }
    }

    
    
    @media(min-width: 768px) {
        font-size: 1.2rem;
    }
}