<app-header></app-header>
<app-message></app-message>
<div class="container mt-4 view-height" id="main">
    <app-page-header></app-page-header>
    <section id="categories" class="mt-4 p-4">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-6 mb-4" *ngFor="let card of categories.cards">
                <a [routerLink]="['/food-product', card.business]" (click)="setBusinessTitle(card.title)">
                    <div class="card business-card d-lg-flex">
                        <img class="card-img-top w-100 d-block" src="assets/img/{{card.img}}">
                        <div class="d-flex d-lg-flex align-self-center">
                            <h2>{{card.title}}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>